.form-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 50%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  row-gap: 1rem;
}

.flex-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

fieldset {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}